In [35]:
import pandas as pd
import numpy as np

In [36]:
data_total=pd.read_csv('Iris.csv')
data_total.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [37]:
data_total.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [38]:
replace_value={'Species':{'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}}
data_total.replace(replace_value,inplace = True)
data_total.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [39]:
data_without_target= data_total[:]
del data_without_target['Species']

data_target= data_total['Species']
from sklearn.model_selection import train_test_split

In [40]:
x_train,x_test,y_train,y_test= train_test_split(data_without_target,data_target,test_size=0.2,random_state=100)

print(x_train.shape)
print(x_test.shape)

(120, 5)
(30, 5)

In [41]:
from sklearn.naive_bayes import MultinomialNB

network=MultinomialNB()

In [42]:
network.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [44]:
predicted=network.predict(x_test)

from sklearn.metrics import accuracy_score
print("The accuracy of this algortim is "+ str(accuracy_score(y_test, predicted)*100))

The accuracy of this algortim is 93.33333333333333